@model formApplication.Models.User


@using (Html.BeginForm("LoginAction", "Home", FormMethod.Post)) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>User Login</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <p class="control-label col-md-2">E-Mail</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p class="control-label col-md-2">Secret</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.secret, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.secret, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Login" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Main Page", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
